@charset "utf-8";
@import url('reset.css');


body {
    background-color: #032D68;
    min-width: 1400px;
    margin: 0 auto;

}

.header {
    height: 90px;
    width: 100%;
    position: fixed;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    background: #F8F8F8;
    background-color: rgba(245, 245, 245, 0.562);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.header .inner {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.logo a {
    font-size: 28px;

}

.nav .gnb {
    display: flex;
    gap: 40px;
}

.nav .gnb li {
    font-size: 24px;

}

.main-text {
    height: 100vh;
    /*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {}

.about .inner {
    /*     padding: 60px 0; */
}

.section {
    padding: 10px;
}

.about .inner .section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    padding: 30px 0;
}

.about .inner .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .inner .about-content .profile-photo {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .inner .about-content .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about .inner .about-content .profile-details {
    width: 50%;
    padding: 40px;
    border-left: 2px solid #828282;
}

.profile-info,
.education-info,
.skills-info {
    margin-bottom: 40px;
    padding: 0 20px;

}

.profile-details h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.profile-info ul li,
.education-info ul li {
    font-size: 20px;
    line-height: 2.5;
    padding: 5px 0;
}

.about .inner .about-content .profile-details .profile-info ul li {
    display: flex;
    /* justify-content: space-between; */
    padding: 0.5rem;
    font-size: 20px;
}


.profile-info,
.education-info,
.skills-info {
    margin-bottom: 30px;
    padding: 20px;

}


.profile-info ul,
.education-info ul {
    font-size: 1rem;
    line-height: 2.5;
}

.profile-info ul li {
    display: flex;
    gap: 30px;
}


.profile-info .label {
    font-weight: bold;
    color: #333;
    width: 100px;
    /* 레이블 너비 고정 */
    flex-shrink: 0;
}

.profile-info .data {
    font-weight: 400;
    color: #333;
}


/* 학력 */
.education-info ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.education-info .year {
    font-weight: 700;
    color: #333;
    width: 50px;
    flex-shrink: 0;
    margin-right: 20px;
}

.education-info .detail {
    font-weight: 400;
    color: #333;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 10px;
}




/* 웹 디자인 스타일  */

.web-design {}


.web-design .section-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    padding: 30px 0;
}


.web-design .fantagio,
.web-design .LG,
.web-design .busan,
.web-design .LG,
.web-design .nuse,
.web-design .starbucks {
    width: 1700px;
    /* 전체 너비 제한 */
    height: 860px;
    margin: 150px auto 50px;
    /* 상하 간격 및 중앙 정렬 */
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    /* border: 2.5px solid #626974; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
    /* 부드러운 그림자 */
    display: flex;
    gap: 40px;
    align-items: center;

}

.web-design .fantagio {
    position: sticky;
    top: 100px;
}

.web-design .LG {
    flex-direction: row-reverse;
    position: sticky;
    top: 150px;
}

.web-design .busan {
    position: sticky;
    top: 200px;
}


/* 모바일 디자인 배치 */

.mobile-design {
    max-width: 1700px;
    padding: 150px 0;
    margin: 0 auto;
    gap: 40px;
    padding-bottom: 100px;
    display: block;

}

.mobile-design .section-title {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    padding: 30px 0;
}

.mobile-design .starbucks {
    border-left: 2px solid #828282;
}

.mobile-design .nuse,
.mobile-design .starbucks {
    width: calc(100% - 20px);
    height: auto;
    padding: 30px;
    display: flex;
    gap: 45px;
    align-items: center;
}

.mobile-design .nuse .mockp,
.mobile-design .starbucks .mockp {
    width: 40%;
}



.mobile-design .nuse .mockp img,
.mobile-design .starbucks .mockp img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.mobile-design .nuse .texts,
.mobile-design .starbucks .texts {
    width: 400px;
}

.mobile-design .nuse h3,
.mobile-design .starbucks h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}

.mobile-design .nuse p,
.mobile-design .starbucks p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.6;
}

.mobile-design .nuse .spec,
.mobile-design .starbucks .spec {
    margin-bottom: 20px;
}

.mobile-design .nuse .spec p,
.mobile-design .starbucks .spec p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.mobile-design .texts .tags-top {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.tags-top {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.tags-top a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #828282;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3.s ease;

}

.tags-top a:hover {
    background-color: #333;
    color: #fff;
}

.tags-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 5px;

}

.tags-bottom span {
    font-size: 14px;
    padding: 5px 12px;

}

/* 프로젝트 설명란 */
.web-design .project-ex {
    flex: 1;
    width: 50%;
}

.web-design .project-ex h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.web-design .project-ex p {
    font-size: 20px;
    line-height: 1.6;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}

.web-design .project-ex .spec p {
    font-size: 20px;
    line-height: 2;
    padding: 20px;
    margin-bottom: 48px;

}

/* 버튼-프로세스,피그마,웹사이트 스타일 */

.tags-top {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

}

.tags-top a {
    padding: 13px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;

}

.tags-top .tag-process {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
}

.tags-top .tag-figma {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc
}

.tags-top .tag-website {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc
}

.tags-top .tag-view {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
}

/* 태그 스타일 */

.tags-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags-bottom span {
    font-size: 14px;
    color: #666;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #eee;
}



/* .그래픽 디자인 스타일 */

.graphic-design .inner {
    padding-bottom: 100px;
}

.graphic-design .inner .section-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    padding: 30px 0;
    margin-bottom: 150px;
}

.graphic-design .inner .swiper-mySwiper {
    width: 375px;


}

.graphic-design .inner .swiper-mySwiper .swiper-wrapper {}


.graphic-design .inner .swiper-mySwiper .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.graphic-design .inner .swiper-mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}







/* copy 영역 */
.copy .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px
}

.copy1,
.copy2,
.copy3,
.copy4,
.copy5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy .tag-group {
    display: flex;
    flex-wrap: nowrap;
}

.copy1 h2,
.copy2 h2,
.copy3 h2,
.copy4 h2,
.copy5 h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    /* 제목과 태그 그룹 사이 간격 */
}


/* .copy1 h2,
.copy1 .tags,
.copy1 button,
.copy2 h2,
.copy2 .tags,
.copy2 button,
.copy3 h2,
.copy3 .tags,
.copy3 button,
.copy4 h2,
.copy4 .tags,
.copy4 button,
.copy5 h2,
.copy5 .tags,
.copy5 button {
    width: auto;
    margin-bottom: 5px;
} */

.copy1 .image img,
.copy2 .image img,
.copy3 .image img,
.copy4 .image img,
.copy5 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .copy1 .image,
.copy2 .image {
    width: 312px;
    height: 617px;
}

.copy3, .image
.copy4, .image
.copy5 .image {
    width: 312px;
    height: 619px;
} */

.copy1 .image,
.copy2 .image,
.copy3 .image,
.copy4 .image,
.copy5 .image {
    width: 312px;
    height: 617px;
    /* 높이를 617px로 통일 */
}

/* 그2행 3열 효과 주기 영역 */
.copy-track {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 20px;
}

.copy1,
.copy2 {
    grid-column: span 3;
    margin-bottom: 80px;
}

.copy3,
.copy4,
.copy5 {
    grid-column: span 2;
    margin-top: 50px;
}

/* 햇시태그 그룹 스타일 */
.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 25px;
    justify-content: center;
    /* 내부 태그 중앙 정렬 */
}


/* 개별 해시태그 스타일 */
.tag-item {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}


/* View 버튼 그룹 */
.tag-button-group {
    margin-bottom: 30px;
}

/* View 버튼 스타일 */
.tag-view-button {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    /*  버튼 테두리 */
    transition: background-color 0.3s;
}

.tag-view-button:hover {
    background-color: #000000;
    color: #fff;
}

.contact {
    text-align: center;
    margin-top: 150px;
}

.contact .section-title {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 500;
}

.contact .inner {
    max-width: 1400px;
    margin: 0 auto;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.contact-detail {
    text-align: start;
    margin-bottom: 25px;
}



.contact-detail .phone,
.contact-detail .email {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 5px;
}

.contact-detail .label {
    font-weight: bold;
    color: #333;
    display: inline-block;
    min-width: 80px;
    /* 레이블 너비를 고정하여 데이터 시작점을 맞춥니다. */
    text-align: left;
    /* 레이블 텍스트는 왼쪽 정렬 */
    margin-right: 15px;
}

/* .contact-detail .title,
.contact-detail .name {
    display: none;
} */

.contact-detail .data {
    color: #666;
}

/* 버튼 그룹 스타일 */
.buttons {
    display: flex;
    justify-content: center;
    /* 버튼들을 중앙 정렬 */
    gap: 15px;
}

/* 개별 버튼 스타일 */
.buttons .button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
    transition: all 0.3s;
    background-color: #fff;
}

.buttons .button:hover {
    background-color: #999;
    color: #fff;
}

.footer {
    text-align: center;
}

.footer .inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #828282;
}

.footer .copy-notice {}

.footer .copyright {}