@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;
    color: white;
}

.header {
    height: 87.83px;
}

.header .inner {
    height: 100%;
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .inner .logo {
    height: 21px;
}

.header .inner .logo a {
    display: block;
    height: 100%;
}

.header .inner .logo a img {
    height: 100%;
    display: block;
}
.header .inner .nav_pc .gnb {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header .inner .nav_pc .gnb>li {
    position: relative;
}
.header .inner .nav_pc .gnb>li .depth-01 {
    display: block;
    line-height: 100px;
}

.header .inner .nav_pc .gnb>li .depth-02 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.header .inner .nav_pc .gnb>li:hover .depth-02 {
    display: block;
}

.main_visual {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    .header .inner .nav_btn {
        border-end-end-radius: 0;
        background-color: transparent;
        height: 30px;
    }



}

